:root{
  --bg-primary-color: #005187;
  --bg-secondary-color:#4d82bc;
  --bg-aux-color:#84b6f4;
  --text-color:#fcffff;
  --aux-color:#c4dafa;
}

p, h1, h2, h3, h4, li{
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin:0;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1; 
}

.contenedor {
    display: flex;
    justify-content: center;

} 

.box-sidebar{
    position: fixed;
    z-index: 100;
    width: 300px;
    left: 0;
    transition: all 0.3s ease;
}

/* Oculta la navbar */
.hidden {
  opacity: 0;
  transform: translateX(-100%);
  pointer-events: none;
}

/* Visible */
.show {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

/* Sidebar */
.sidebar {
  margin: 20px;
  background-color: var(--bg-primary-color);
  
     box-shadow: 7px 6px 8px 4px rgba(0, 0, 0, 0.12);
  color: var(--text-color);
  overflow: hidden;
  width: 60px;
  border-radius: 1em;
  height: 60px;
}

.container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}
/* Animaciones */
@keyframes expandirSidebar {
  from {
    width: 60px;
    height: 60px;
  }
  to {
    width: 220px;
    height: 440px;
  }
}

@keyframes contraerSidebar {
  from {
    width: 220px;
    height: 440px;
  }
  to {
    width: 60px;
    height: 60px;
  }
}

.sidebar.expandido {
  animation: expandirSidebar 0.3s forwards;
}

.sidebar.contraido {
  animation: contraerSidebar 0.3s forwards;
}

.toggle-btn {
  background: none;
    width: 50px;
    height: 50px;
    border: none;
    color: var(--text-color);
    border-radius: 50%;
    font-size: 20px;
    padding: 0px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.toggle-btn.expandido{
    background-color: rgba(92, 72, 58,0.3);
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
    cursor: pointer;
    padding: 15px;
    color: var(--text-color);
}

nav ul li:hover {
  background-color: rgba(92, 72, 58,0.3);
}


h1{
    text-align: center;
}

.carousel {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* VENTANA */
.carousel-viewport {
  width: 320px;
  overflow: hidden;
}

/* TRACK (SE MUEVE) */
.carousel-track {
  display: flex;
  transition: transform 0.4s ease;
}

/* CARTAS */
.card {
  min-width: 320px;
  background: var(--bg-primary-color);
      box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.12);
  padding: 20px;
  border-radius: 14px;
  text-align: center;
}

.card h3 {
  margin: 0 0 10px;
  color: var(--text-color);
}

.card p {
  margin: 0;
  font-size: 14px;
  color: var(--text-color);
}

.btn.end{
  background: var(--bg-primary-color);
    cursor: not-allowed;
}

/* BOTONES */
.btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: var(--bg-primary-color);
  color: var(--text-color);
  font-size: 18px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.btn:hover {
  background: var(--bg-aux-color);
  border:2px solid  var(--bg-primary-color);
  color: var(--bg-primary-color);
}

.box-carousel {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}



.contenido{
    height: 100%;
        background-color: #f1e9bb;
}

.contactos-apoyo li a{
    text-decoration: none;
 color: var(--bg-secondary-color);
 transition: all 0.4s ease;
}
.contactos-apoyo li a:hover{
  color: var(--bg-aux-color);
}

.contactos-apoyo li{
  list-style: none;
}

#contactos-apoyo li a:hover{
    color: #833e16;
}


@media (max-width: 500px) {
.card{
    min-width: 195px;
}
.carousel-viewport{
    width: 195px;
}
}

.iframe{
    width: 100%;
}


@media (max-width: 320px) {
  .box-sidebar {
    display: none;
  }

  .contenido {
    margin-left: 0;
  }
}

p li a {
    font-size: 1.3em;
}


/* nuevos estilos */


.bg-primary{
  background: var(--bg-primary-color);
}

.bg-secondary{
  background: var(--bg-secondary-color);
}

.title-box{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* animaciones para el titulo inicial */
#section-tittle span{
  animation: show 1.2s ease;
  overflow: hidden;
}


@keyframes show{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


/* 
/ ESTILOS PARA LAS SECCIONES PERSONALIZADAS
*/

.seccion{
  overflow: hidden;
}
/* primera seccion */



.first > .father{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:2em;

}

.first > .father > .child > h3,
.first > .father > .child > h2{
  text-align: center;
}


.first > .father > .child{
  border-radius: 0.7em;
  opacity: 0;
  padding: 2em;
  box-shadow: 9px 10px 6px 2px rgba(0, 0, 0, 0.12);
  transition: opacity 0.4s ease, transform 0.4s ease;
  background-color: var(--bg-secondary-color);
}
.first > .father > .child > h3,
.first > .father > .child > h2,.first > .father > .child > p,
.first > .father > .child > li,
.first > .father > .child > h4{
  opacity: 0;
  transition: opacity 1s ease;
}

.first > .father > .child > p{
  text-align: justify;
}

.first > .father > .child > h3.visible,
.first > .father > .child > h2.visible,
.first > .father > .child > p.visible,
.first > .father > .child > li.visible,
.first > .father > .child > h4.visible{
  opacity: 1;
}

.first > .father > .child.visible{
  animation: entrar 0.8s ease forwards;
  transform: translateX(0);
}

.first > .father >.child:nth-child(1){
  animation-delay: 0.2s;
}
.first > .father >.child:nth-child(2){
  animation-delay: 0.4s;
}
.first > .father >.child:nth-child(3){
  animation-delay: 0.2s;
}
.first > .father >.child:nth-child(4){
  animation-delay: 0.4s;
}

.first > .father >.child.visible:nth-child(odd) {
  transform: translateX(-100%);
}
.first > .father >.child.visible:nth-child(even) {
  transform: translateX(100%);
}
@keyframes entrar {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .first .father {
    grid-template-columns: 1fr;
  }

  .first > .father >.child {
    transform: translateY(30px);
  }

  .first > .father >.child.visible {
    transform: translateY(0);
  }
}

/* segunda seccion */

.second{
  padding: 20px;
}
.second > h2{
  font-size: 3em;
}

.second > .father{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:2em;

}

.second > h3,
.second > h2{
  text-align: center;
}

.second > .father > .child{
  transform: scale(0.1 );
  border-radius: 0.7em;
  opacity: 0;
  padding: 2em;
  box-shadow: 9px 10px 6px 2px rgba(0, 0, 0, 0.12);
  transition: opacity 0.4s ease, transform 0.6s ease;
  background-color: var(--bg-primary-color);
}
.second > .father > .child > h3,
.second > .father > .child > h2{
  text-align: center;
}
.second > .father > .child > p{
  text-align: justify;
}

.second > .father > .child.visible{
  animation: entrar_second 0.8s ease forwards;
}

.second > .father >.child:nth-child(1){
  animation-delay: 0.2s;
}
.second > .father >.child:nth-child(2){
  animation-delay: 0.4s;
}
.second > .father >.child:nth-child(3){
  animation-delay: 0.6s;
}

@keyframes entrar_second {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .second .father {
    grid-template-columns: 1fr;
  }
}


/* tercera seccion */

.third > h2{
  text-align: center;
  font-size: 3em;
}

.third > .father{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:2em;
}

.third > .father > .child{
  overflow: hidden;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.third > .father > .child > .container> h3{
  font-size: 2em;

}

.third > .father > .child > .container{
  
  transition: opacity 2s ease, transform 0.6s ease;
  opacity: 0;
  
}

.third > .father > .child:nth-child(1) > .container{
  opacity: 0;
  transform: translateX(-100%);
}

.third > .father > .child:nth-child(2) > .container{
  transform: translateX(100%);
  opacity: 0;
}
.third > .father > .child:nth-child(3) > .container{
  transform: translateY(-100%);
  opacity: 0;
}

.third > .father > .child:nth-child(3) .visible > .container{
  opacity: 1;
  animation: entrar_thirdY 0.8s ease forwards;
}
.third > .father > .child.visible > .container{
  opacity: 1;
  animation: entrar_third 0.8s ease forwards;
}

@keyframes entrar_third {
  to {
    transform: translateX(0);
    opacity: 1;
  }
  
}
@keyframes entrar_thirdY {
  to {
    transform: translateX(0);
    opacity: 1;
  }
  
}

.third > .father > .child > .container > p,
.third > .father > .child > .container > ul > li,
.third > .father > .child > .container > ul > h4{
  font-size: 1.2em;
}

.third > .father > .child:nth-child(1) > p{
  text-align: justify;
  font-size: 1.5em;
}

.third > .father > .child:nth-child(1){
  border-right: 1px solid var(--text-color);
  grid-column: 1/3;
}
.third > .father > .child:nth-child(2){
  grid-column: 3/5;
}
.third > .father > .child:nth-child(3){
  border-top: 1px solid var(--text-color);
  grid-column: 2/4;
}


@media (max-width: 768px) {
  .third .father {
    grid-template-columns: 1fr;
  }

  .third > .father > .child > .container > h3,
.third > .father > .child:nth-child(1) > .container > p{
  font-size: 1em;
}

  .third > .father > .child:nth-child(1){
    
  border-right: none;
  grid-column: 1/2;
}
.third > .father > .child:nth-child(2){
  border-top: 1px solid var(--text-color);
  grid-column: 1/2;
}
.third > .father > .child:nth-child(3){
  border-top: 1px solid var(--text-color);
  grid-column: 1/2;
}
}


/* cuarta seccion */
.room{
  padding: 3em 0;
}


.room > h2{
  text-align: center;
  font-size: 3em;
}

.room > .father > .child:nth-child(1){
  width: 70%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  font-size: 1.5em;
  border-radius: 1em;
  margin: 0 auto;
  background-color: var(--bg-primary-color);
  opacity: 0;
  transform: scale(0);
  box-shadow: 9px 10px 6px 2px rgba(0, 0, 0, 0.12);

}

.room > .father > .child:nth-child(1).visible{
  animation: entrar_room 0.8s ease forwards;
}

@keyframes entrar_room {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.room > .father > .child:nth-child(2){
  margin: 4em auto;
  width: 80%;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.room > .father > .child:nth-child(2) > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column: 1/5;
  border-radius: 1em;
  animation-delay: 0.5s;
  box-shadow: 9px 10px 6px 2px rgba(0, 0, 0, 0.12);
  
  grid-row: 1/5;
}
.room > .father > .child:nth-child(2) > .bg{
  background-color: var(--bg-primary-color);
  grid-column: 2/6;
  grid-row: 2/7;
  animation-delay: 0.2s;
  box-shadow: 9px 10px 6px 2px rgba(0, 0, 0, 0.12);

  border-radius: 1em;
}
.room > .father > .child:nth-child(2) > .text{
  color: var(--bg-secondary-color);
  grid-column: 4/9;
  animation-delay: 0.8s;
  grid-row: 3/6;
  box-shadow: 9px 10px 6px 2px rgba(0, 0, 0, 0.12);
  grid-column: 4/9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  grid-row: 3/6;
  border-radius: 1em;
  background-color: var(--aux-color);
}
.room > .father > .child:nth-child(2) > .text > h3,
.room > .father > .child:nth-child(2) > .text > p{
  color: var(--bg-secondary-color);
  text-align: center;
} 

.room > .father > .child:nth-child(2) > .text > h3{
  font-size: 3em;
}

.room > .father > .child:nth-child(2) > .text > p{
  font-size: 1.5em;
  padding: 0 1em;
}

.room > .father > .child:nth-child(2) > img,
.room > .father > .child:nth-child(2) > .bg,
.room > .father > .child:nth-child(2) > .text{
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.4s ease, transform 0.6s ease;
}

.room > .father > .child.visible:nth-child(2) > img,
.room > .father > .child.visible:nth-child(2) > .bg,
.room > .father > .child.visible:nth-child(2) > .text{
  animation: entrar_room_elements 0.8s ease forwards;
}

@keyframes entrar_room_elements {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .room > .father > .child:nth-child(1){
    height: auto;
    font-size: 1.2em;
  }
  .room > .father > .child:nth-child(2) > .text > h3{
    font-size: 1.3em;
  }

  .room > .father > .child:nth-child(2) > .text > p{
    font-size: 1em;
    padding: 0 1em;
  }
.room > .father > .child:nth-child(2) > .text{
    grid-column: 4/9;
  
  grid-row: 3/6;
}
.room > .father > .child:nth-child(2) > img{
    grid-column: 1/5;
    grid-row: 2/4;

}
.room > .father > .child:nth-child(2) > .bg{
    grid-column: 2/6;
    grid-row: 1/5;
}
}

/* quinta seccion */

.fifth{
  padding: 3em 2em;
}

.fifth > h2{
  text-align: center;
  font-size: 3em;
}

.fifth > .father > .child:nth-child(1) > p{
  text-align: justify;
  font-size: 1.5em;
  margin-bottom: 2em;
}

/* sexta seccion */

.sixth{
  padding: 3em 2em;
}
.sixth > h2{
  text-align: center;
  font-size: 3em;
}
.sixth > .father > .child > p{
  text-align: center;
  font-size: 1.5em;
}


.sixth > .father > .child {
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.4s ease, transform 0.6s ease;
}
.sixth > .father > .child.visible {
  animation: entrar_sixth 0.4s ease forwards;
}
@keyframes entrar_sixth {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* footer */

.footer{
    text-align: center;
    padding: 1em;
    color: var(--text-color);
    font-size: 1.2em;
}

/* estilo del encabezado de la pagina */

.title-box > .father{
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  width: 90%;
  overflow: hidden;
  max-width: 1100px;
  margin: auto;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.title-box > .father > .child:nth-child(1) {
  width: 50%;
}
.title-box > .father > .child:nth-child(1) > .img-tittle {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title-box > .father > .child:nth-child(2) {
  width: 50%;
  padding: 50px;
  position: relative;
  
}

.title-box > .father > .child:nth-child(2)::before {
   content: "";
   position: absolute;
   left: -40px;
  top: 0;
  width: 60px;
  height: 100%;
  background-color: #0a4fa3;
  transform: skewX(-15deg);
}
  .title-box > .father > .child:nth-child(2) > h1{
    color: #0a4fa3;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  }

@media (max-width: 768px) {
  .father {
    flex-direction: column;
  }

  .title-box > .father > .child:nth-child(2),
  .title-box > .father > .child:nth-child(1) {
    width: 100%;
  }
  
  .title-box > .father > .child:nth-child(2)::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    transform: none;
  }
  .title-box > .father > .child:nth-child(2)
  {
    padding-top: 100px;
  }
}


.icon-external {
  width: 16px;
  height: 16px;
  fill: currentColor;
}
/* estilos para el bloque de contenido */

/* estilos para la barra de navegacion */

.navegation-bar-container{
  background-color: var(--bg-primary-color);
}

.navegation-bar-container .navegation-bar-list{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.navegation-bar-container .navegation-bar-list .navegation-bar-item{
  padding: 15px 25px;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navegation-bar-container .navegation-bar-list .navegation-bar-item.active
{
  background-color: var(--text-color);
  color: var(--bg-primary-color);
}
.navegation-bar-container .navegation-bar-list .navegation-bar-item:hover{
  background-color: var(--bg-aux-color);
  color: var(--bg-primary-color);
}
