:root{
  --bg-primary-color: #f3c363;
  --bg-secondary-color:#f1e9bb;
  --text-color:#5c483a;
}

p, h1, h2, h3, h4, li{
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Times New Roman' 'Open Sans' sans-serif;
  background-color: #f3c363;
}

.contenedor {
    display: flex;
    justify-content: center;

} 

.box-sidebar{
    position: fixed;
    z-index: 100;
    width: 300px;
    left: 0;
    transition: all 0.3s ease;
}

/* Oculta la navbar */
.hidden {
  opacity: 0;
  transform: translateX(-100%);
  pointer-events: none;
}

/* Visible */
.show {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

/* Sidebar */
.sidebar {
  margin: 20px;
  background-color: #cf6123;
  
     box-shadow: 7px 6px 8px 4px rgba(0, 0, 0, 0.12);
  color: #f1e9bb;
  overflow: hidden;
  width: 60px;
  border-radius: 1em;
  height: 60px;
}

.container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}
/* Animaciones */
@keyframes expandirSidebar {
  from {
    width: 60px;
    height: 60px;
  }
  to {
    width: 220px;
    height: 420px;
  }
}

@keyframes contraerSidebar {
  from {
    width: 220px;
    height: 420px;
  }
  to {
    width: 60px;
    height: 60px;
  }
}

.sidebar.expandido {
  animation: expandirSidebar 0.3s forwards;
}

.sidebar.contraido {
  animation: contraerSidebar 0.3s forwards;
}

.toggle-btn {
  background: none;
    width: 50px;
    height: 50px;
    border: none;
    color: #f1e9bb;
    border-radius: 50%;
    font-size: 20px;
    padding: 0px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.toggle-btn.expandido{
    background-color: rgba(92, 72, 58,0.3);
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
    cursor: pointer;
    padding: 15px;
    color: #f1e9bb;
}

nav ul li:hover {
  background-color: rgba(92, 72, 58,0.3);
}


h1{
    text-align: center;
}

.carousel {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* VENTANA */
.carousel-viewport {
  width: 320px;
  overflow: hidden;
}

/* TRACK (SE MUEVE) */
.carousel-track {
  display: flex;
  transition: transform 0.4s ease;
}

/* CARTAS */
.card {
  min-width: 320px;
  background: #cf6123;
      box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.12);
  padding: 20px;
  border-radius: 14px;
  text-align: center;
}

.card h3 {
  margin: 0 0 10px;
  color: #f1e9bb;
}

.card p {
  margin: 0;
  font-size: 14px;
  color: #f1e9bb;
}

.btn.end{
  background: #833e16;
    cursor: not-allowed;
}

/* BOTONES */
.btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #cf6123;
  color: #f1e9bb;
  font-size: 18px;
  cursor: pointer;
  transition: background ease 0.3s;
}

.btn:hover {
  background: #833e16;
}

.box-carousel {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen {
  width: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 1em;
}


.contenido{
    height: 100%;
        background-color: #f1e9bb;
}

#contactos-apoyo li a{
    text-decoration: none;
 color: #cf6123;
}

#contactos-apoyo li a:hover{
    color: #833e16;
}

@media (max-width: 430px) {
.imagen{
    width: 220px;
}}

@media (max-width: 500px) {
.card{
    min-width: 195px;
}
.carousel-viewport{
    width: 195px;
}
}

.iframe{
    width: 100%;
}


@media (max-width: 380px) {
.imagen{
    width: 180px;
}}

@media (max-width: 320px) {
.imagen{
    width: 220px;
}
  .box-sidebar {
    display: none;
  }

  .contenido {
    margin-left: 0;
  }
}

p li a {
    font-size: 1.3em;
}


/* nuevos estilos */


.bg-primary{
  background: var(--bg-primary-color);
}

.bg-secondary{
  background: var(--bg-secondary-color);
}

.title-box{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* animaciones para el titulo inicial */
#section-tittle span{
  animation: show 1.2s ease;
  overflow: hidden;
}


@keyframes show{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


/* 
/ ESTILOS PARA LAS SECCIONES PERSONALIZADAS
*/

.seccion{
  overflow: hidden;
}
/* primera seccion */



.first > .father{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:2em;

}

.first > .father > .child > h3,
.first > .father > .child > h2{
  text-align: center;
}


.first > .father > .child{
  border-radius: 0.7em;
  opacity: 0;
  padding: 2em;
  box-shadow: 9px 10px 6px 2px rgba(0, 0, 0, 0.12);
  transition: opacity 0.4s ease, transform 0.4s ease;
  background-color: var(--bg-secondary-color);
}
.first > .father > .child > h3,
.first > .father > .child > h2,.first > .father > .child > p,
.first > .father > .child > li,
.first > .father > .child > h4{
  opacity: 0;
  transition: opacity 1s ease;
}

.first > .father > .child > p{
  text-align: justify;
}

.first > .father > .child > h3.visible,
.first > .father > .child > h2.visible,
.first > .father > .child > p.visible,
.first > .father > .child > li.visible,
.first > .father > .child > h4.visible{
  opacity: 1;
}

.first > .father > .child.visible{
  animation: entrar 0.8s ease forwards;
  transform: translateX(0);
}

.first > .father >.child:nth-child(1){
  animation-delay: 0.2s;
}
.first > .father >.child:nth-child(2){
  animation-delay: 0.4s;
}
.first > .father >.child:nth-child(3){
  animation-delay: 0.2s;
}
.first > .father >.child:nth-child(4){
  animation-delay: 0.4s;
}

.first > .father >.child.visible:nth-child(odd) {
  transform: translateX(-100%);
}
.first > .father >.child.visible:nth-child(even) {
  transform: translateX(100%);
}
@keyframes entrar {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .first .father {
    grid-template-columns: 1fr;
  }

  .first > .father >.child {
    transform: translateY(30px);
  }

  .first > .father >.child.visible {
    transform: translateY(0);
  }
}

/* segunda seccion */

.second{
  padding: 20px;
}
.second > h2{
  font-size: 3em;
}

.second > .father{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:2em;

}

.second > h3,
.second > h2{
  text-align: center;
}

.second > .father > .child{
  transform: scale(0.1 );
  border-radius: 0.7em;
  opacity: 0;
  padding: 2em;
  box-shadow: 9px 10px 6px 2px rgba(0, 0, 0, 0.12);
  transition: opacity 0.4s ease, transform 0.6s ease;
  background-color: var(--bg-primary-color);
}
.second > .father > .child > h3,
.second > .father > .child > h2{
  text-align: center;
}
.second > .father > .child > p{
  text-align: justify;
}

.second > .father > .child.visible{
  animation: entrar_second 0.8s ease forwards;
}

.second > .father >.child:nth-child(1){
  animation-delay: 0.2s;
}
.second > .father >.child:nth-child(2){
  animation-delay: 0.4s;
}
.second > .father >.child:nth-child(3){
  animation-delay: 0.6s;
}

@keyframes entrar_second {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .second .father {
    grid-template-columns: 1fr;
  }
}


/* tercera seccion */

.third > h2{
  text-align: center;
  font-size: 3em;
}

.third > .father{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:2em;
}

.third > .father > .child{
  overflow: hidden;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.third > .father > .child > .container> h3{
  font-size: 2em;

}

.third > .father > .child > .container{
  
  transition: opacity 2s ease, transform 0.6s ease;
  opacity: 0;
}

.third > .father > .child:nth-child(1) > .container{
  opacity: 0;
  transform: translateX(-100%);
}

.third > .father > .child:nth-child(2) > .container{
  transform: translateX(100%);
  opacity: 0;
}
.third > .father > .child:nth-child(3) > .container{
  transform: translateY(-100%);
  opacity: 0;
}

.third > .father > .child:nth-child(3) .visible > .container{
  opacity: 1;
  animation: entrar_thirdY 0.8s ease forwards;
}
.third > .father > .child.visible > .container{
  opacity: 1;
  animation: entrar_third 0.8s ease forwards;
}

@keyframes entrar_third {
  to {
    transform: translateX(0);
    opacity: 1;
  }
  
}
@keyframes entrar_thirdY {
  to {
    transform: translateX(0);
    opacity: 1;
  }
  
}

.third > .father > .child > .container > p,
.third > .father > .child > .container > ul > li,
.third > .father > .child > .container > ul > h4{
  font-size: 1.2em;
}

.third > .father > .child:nth-child(1) > p{
  text-align: justify;
  font-size: 1.5em;
}

.third > .father > .child:nth-child(1){
  border-right: 1px solid var(--text-color);
  grid-column: 1/3;
}
.third > .father > .child:nth-child(2){
  grid-column: 3/5;
}
.third > .father > .child:nth-child(3){
  border-top: 1px solid var(--text-color);
  grid-column: 2/4;
}


@media (max-width: 768px) {
  .third .father {
    grid-template-columns: 1fr;
  }

  .third > .father > .child > .container > h3,
.third > .father > .child:nth-child(1) > .container > p{
  font-size: 1em;
}

  .third > .father > .child:nth-child(1){
    
  border-right: none;
  grid-column: 1/2;
}
.third > .father > .child:nth-child(2){
  border-top: 1px solid var(--text-color);
  grid-column: 1/2;
}
.third > .father > .child:nth-child(3){
  border-top: 1px solid var(--text-color);
  grid-column: 1/2;
}
}